body {
  background-color: black;
  color: white; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav.profile1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

main {
  width: 65%;
  border: 2px solid rgb(194, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: -712px;
  margin-bottom: 10px;
}

.centerText {
  text-align: center;
}

div.profile2, div.profile3 {
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
  background-color: #272727;
  border-radius: 5%;
  text-align: center;
}

div.profile2 img {
  border: 1px solid rgb(78, 68, 68);
  width: 85%;
  border-radius: 5%;
}

main img {
  width: 50%;
  height: auto;
  margin-top: 30px;
}

h1, h2, h3 {
  font-style: italic;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

h2, {
  margin-top: 0;
}

p {
  margin-top: 15px;
}

